:root {
	--primary: #ff6348;
	--secondary: #575fcf;
	--gray1: #57606f;
	--gray2: #a4b0be;
	--font-family: 'Montserrat', sans-serif;
	--box-shadow: 0 6px 9px 0 rgb(0 0 0, 15%);
	--box-shadow-nav: 0px 2px 18px 0px rgb(0 0 0, 22%);
	--text-color: #4444;
}
